/*Reset inicial HTML*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------Estructura general sin cambios body-footer-------------------*/
@import "./components/body";
@import "./components/header";
@import "./components/footer";
@import "./components/titulos";
@import "./components/form";
@import "./components/nav-style";

/*--------------------Estructura modificable "index.html" --------------------*/

article {
    padding: 55px 30px;
    margin: 80px 30px;
    color: white;
    text-align: center;
}

.img1 {
    border: #15ff00 2px solid;
    border-radius: 2%;
    &:hover {
        transform:scale(1.1) translateZ(8px);
        transition:all;
        transition-duration: 1.5s;
    }
}

.video:hover {
    transform:scale(1.9) translateY(26%);
    transition: all;
    transition-duration: 2s;
}

/*------------------Estructura grid index.html-------------------*/
.wrapper {
    grid-template-columns: 1fr;
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "header"
    "article"
    "footer";
}

/*--------------------Estructura contacto.html--------------------*/

input, textarea {
    width: 90%;
    border-radius: 3px;
    border-color: #2e0828;
    font-size: 15px;
    padding: 7px;
}

/*------------------Estructura grid contacto.html-----------------*/
.wrapper1 {
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 3em;
    grid-template-areas: 
    "header header"
    "article1 article2"
    "footer footer"
}

/*--------------Interaccion con grid--------------*/
.main-head {
    grid-area: header;
}

.main-footer {
    bottom: 0;
    grid-area: footer;
}

article {
    grid-area: article;
}

.article1 {
    grid-area: article1;
}

.article2 {
    grid-area: article2;
}

/*--------------------WEB---------------------*/

/*-----------1024px------------*/
@media (max-width: 1024px) {
    .wrapper1 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        display: grid;
        gap: 3em;
        grid-template-areas: 
        "header header"
        "article1 article2"
        "footer footer"
    }
}



/*------------Movil first-------------*/
@media (max-width: 768px) {
    .wrapper1 {
        grid-template-columns: 1fr;
        display: grid;
        gap: 3em;
        grid-template-areas: 
        "header"
        "article1"
        "article2"
        "footer"
    }
}


/*--------------smart phone----------------*/
@media (max-width: 480px) {
    .wrapper1 {
        grid-template-columns: 1fr;
        display: grid;
        gap: 3em;
        grid-template-areas: 
        "header"
        "article1"
        "article2"
        "footer"
    }
    nav ul li {
        display: inline-block;
        padding: 5px;
    }
}












