body {
  background-image: url(assets/Fondo3.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

header {
  background-color: #3d1036;
  color: white;
  display: grid;
  padding: 15px;
  grid-area: header; }

footer {
  position: absolute;
  margin-bottom: 0rem;
  width: 100%;
  grid-area: footer; }
  footer div img {
    display: inline-block;
    padding: 0.5em; }

h2 {
  padding: 1fr;
  color: #15ff00; }

h3 {
  padding: 1fr;
  color: black; }

.form {
  width: 450px;
  margin: auto;
  border: 3px #2e0828 solid;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px 10px;
  border-radius: 7px; }

li:hover {
  transition-duration: 1s;
  background-color: #15ff00;
  border-radius: 5%; }

@media (max-width: 1024px) {
  .wrapper1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    display: grid;
    gap: 3em;
    grid-template-areas: "header header" "article1 article2" "footer footer"; } }

@media (max-width: 768px) {
  .wrapper1 {
    grid-template-columns: 1fr;
    display: grid;
    gap: 3em;
    grid-template-areas: "header" "article1" "article2" "footer"; } }

@media (max-width: 480px) {
  .wrapper1 {
    grid-template-columns: 1fr;
    display: grid;
    gap: 3em;
    grid-template-areas: "header" "article1" "article2" "footer"; }
  nav ul li {
    display: inline-block;
    padding: 5px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

article {
  padding: 55px 30px;
  margin: 80px 30px;
  color: white;
  text-align: center; }

.img1 {
  border: #15ff00 2px solid;
  border-radius: 2%; }
  .img1:hover {
    transform: scale(1.1) translateZ(8px);
    transition: all;
    transition-duration: 1.5s; }

.video:hover {
  transform: scale(1.9) translateY(26%);
  transition: all;
  transition-duration: 2s; }

input, textarea {
  width: 90%;
  border-radius: 3px;
  border-color: #2e0828;
  font-size: 15px;
  padding: 7px; }

.wrapper {
  grid-template-columns: 1fr;
  display: grid;
  gap: 20px;
  grid-template-areas: "header" "article" "footer"; }

.wrapper1 {
  grid-template-columns: 1fr 1fr;
  display: grid;
  gap: 3em;
  grid-template-areas: "header header" "article1 article2" "footer footer"; }

.main-head {
  grid-area: header; }

.main-footer {
  bottom: 0;
  grid-area: footer; }

article {
  grid-area: article; }

.article1 {
  grid-area: article1; }

.article2 {
  grid-area: article2; }

.rounded, .rounded--nuevo {
  border: 2px black solid;
  background-color: white; }

.rounded--nuevo {
  border-radius: 1%; }
