.rounded {
    border: 2px rgb(0, 0, 0) solid;
    background-color: white;
    &:hover {transition-duration: 1s;
    background-color: $transicion;
    }
}


.rounded--nuevo {
    @extend .rounded;
    border-radius: 1%;
}
